#orders-chart {
    background: #1c243f;
    /* width: 183px; */
    width: 220px;
    height: 220px;
    border-radius: 5px;
    padding: 5px;
}

.orders-value {
    font-size: 28px;
    color: #ff814a;
}
